.redButtonSquare {
	-fx-background-color: #E53935;
	-fx-background-radius: 0px;
	-fx-opacity: 0.75;
}

.redButtonSquare:hover {
	-fx-background-color: #F44336;
	-fx-background-radius: 0px;
	-fx-opacity: 1;
}

.redButtonSquare:pressed {
	-fx-background-color: #C62828;
	-fx-background-radius: 0px;
	-fx-opacity: 1;
}

.redButtonSquare:disabled {
	-fx-background-color: #AAAAAA;
	-fx-background-radius: 0px;
}