.blueButton {
	-fx-background-color: #2196F3;
}

.blueButton:hover {
	-fx-background-color: #42a5f5;
}

.blueButton:pressed {
	-fx-background-color: #1565c0;
}

.blueButton:disabled {
	-fx-background-color: #E0E0E0;
}


.blueButtonSquare {
	-fx-background-color: #2196F3;
	-fx-background-radius: 0px;
	-fx-opacity: 0.5;
}

.blueButtonSquare:hover {
	-fx-background-color: #42a5f5;
	-fx-background-radius: 0px;
	-fx-opacity: 1;
}

.blueButtonSquare:pressed {
	-fx-background-color: #1565c0;
	-fx-background-radius: 0px;
	-fx-opacity: 1;
}

.blueButtonSquare:disabled {
	-fx-background-color: #AAAAAA;
	-fx-background-radius: 0px;
}


.WhiteTextArea{
	-fx-background-radius: 0px;
    -fx-background-color: #FFFFFF, #FFFFFF;
	-fx-text-fill: #000000;
}

.WhiteTextArea .content {
    -fx-background-color: #FFFFFF;
}

.WhiteTextArea:focused .content {
    -fx-background-color: #FFFFFF;
}

.WhiteTextArea:disabled .content {
	-fx-text-fill: #111111;
}